.loginBtn {
      font-size: 18px;
      display: inline-block;
      outline: 0;
      border: 0;
      cursor: pointer;
      will-change: box-shadow, transform;
      background: radial-gradient(100% 100% at 100% 0%, #88E3EE 0%, #5468FF 100%);
      box-shadow: 0px 0.01em 0.01em rgb(45 35 66 / 40%), 0px 0.3em 0.7em -0.01em rgb(45 35 66 / 30%), inset 0px -0.01em 0px rgb(58 65 111 / 50%);
      padding: 0 2em;
      border-radius: 0.3em;
      color: #fff;
      height: 2.6em;
      text-shadow: 0 1px 0 rgb(0 0 0 / 40%);
      transition: box-shadow 0.15s ease, transform 0.15s ease;
}

.loginBtn:hover {
      box-shadow: 0px 0.1em 0.2em rgb(45 35 66 / 40%), 0px 0.4em 0.7em -0.1em rgb(45 35 66 / 30%), inset 0px -0.1em 0px #3c4fe0;
      transform: translateY(-0.1em);
}

.loginBtn:active {
      box-shadow: inset 0px 0.1em 0.6em #3c4fe0;
      transform: translateY(0em);
}

#btnAceptado{
      background-color: lightgreen;
      color: white;
      border: none;
      padding: 10px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 1rem;
      cursor: pointer;
      border-radius: 5px;
}

#btnCancelado {
      background-color: lightcoral;
      color: white;
      border: none;
      padding: 10px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 1rem;
      cursor: pointer;
      border-radius: 5px;
}
