@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');


:root {
      /* Paleta de colores principal */
      --login-bg: #f8f3ff;
      --title-bg:#6b8cce;
      --button-bg:#0c4483;
      --light-pink: #0c3483;
      --image-bg:#a2b6ef;

      /* Paleta de colores MODO ADMIN */
}

.login-body {
      height: 100vh;
      font-family: 'Poppins', sans-serif;
      background-image: linear-gradient(to top, #0c3483 0%, #a2b6df 100%, #6b8cce 100%, #a2b6df 100%);
}

.login-container {
      height: 43.75em;
      width: 60em;
      margin: 6em auto;
      display: flex;
      justify-content: space-between;
      overflow: hidden;
      border-radius: 15px;
      overflow: hidden;
}

.login-info-container {
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;

      padding-top: 0.5rem;
      background-color: var(--login-bg);
}

.inputs-container > * {
      display: block;
      margin: 0 auto;
}

.imagenLogin{
      width: 50%;
      padding: 2rem;
      background-color: var(--image-bg);
      box-sizing: border-box;
}


.login-title {
      font-size: 2.5rem;
      font-weight: 700;
      color: var(--title-bg);
      margin-bottom: 1rem;
      text-transform: capitalize;
      letter-spacing: 1px;   
}

.inputs-container {
      margin-top: 8rem;
      /* border: 1px solid red; */
      height: 55%;
      width: 85%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
}

.inputs-container > input {
      width: 60%;
      height: 2.4rem;
      font-size:1em;
      padding-left: 20px;
      border:none;
      border-radius: 5px;
}

.registro-link{
      text-decoration: none;
}

.inputs-container > input:hover {
      border: 2px solid var(--button-bg);
}


.register-modal{
      display: inline-block;
      padding: 7px 0;
      width: 100px;
      text-align: center;
      text-decoration: none;

}


@media screen and (max-width: 1000px){
      .imagenLogin{
            display: none;
      }

      .login-container {
            width: 70%;
            margin-top: 3rem;
      }

      .login-info-container {
            width: 100%;
      }
}
