* {
    margin: 0px;
}

.barContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-family: Poppins;
    font-style: normal;

    width: 100vw;
    height: 5vh;

    background-color: #0C4483;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.barContainer-Admin {
    background-color: #0C8366;

}

.verReporte  {
    padding: 0 1vw;
    margin: 0 1vw;
    width: 13vw;
    height: 3vh;
    text-align: center;
    font-size: 18px;
    color:#FFFFFF;
    border: none;
    background: #315bb1;
    border-radius: 15px;
}

.verReporte-Admin  {
    background: #6BCE81;
} 

.verReporte:hover{
    border:none;
    background: #0a3668;
}

.title {
    flex-grow: 1;
    padding-left: 2vw;
    font-weight: bold;
    font-size: 30px;
    color: #FFFFFF;
}

.logo {
    padding-left: 1vw;
    height: 35px;
    width: 35px;
}

.generarReporte{
    text-align: center;
    font-size: 18px;
    height: 3vh;
    width: 13vw;
    color: #FFFFFF;
    background: #315bb1;
    border: none;
    border-radius: 15px;
}

.generarReporte:hover{
    border:none;
    background: #777777
}

#logoutBtn{
    margin-right: 1vw;

    text-align: center;
    font-size: 18px;
    height: 3vh;
    width: 13vw;
    color: #FFFFFF;
    background: #d63535;
    border: none;
    border-radius: 15px;
}

#logoutBtn:hover{
    border:none;
    background: #940606
}

#iniciarBtn{
    padding: 0 1vw;
    margin-right: 1vw;
    text-align: center;
    height: 3vh;
    width: 18vw;
    font-size: 18px;
    color:#424242;
    background: #ffc813;
    border: none;
    border-radius: 15px;
}

#iniciarBtn:hover{
    border:none;
    color: #FFFFFF;
    background: #292929;
}