.modal-container {
      opacity: 0;
      visibility: hidden;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      background-color: rgba(0, 0, 0, 0.5);
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 99999;
}

.modal {
      width: 25%;
      height: fit-content(55vh) ;
      background-color: #fff;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      position: relative;
      transition: transform 0.8s;
      transform: translateY(0%);
      border-radius: 10px;
}

.modal-close {
      transform: translateY(-200%);
}

.close {
      position: absolute;
      top: 17px;
      right: 15px;
      display: inline-block;
      width: 25px;
      height: 25px;
      background-color: #c44a4a;
      color: #fff;
      line-height: 25px;
      cursor: pointer;
      border-radius: 50%;
}

.modal>img {
      height: 50%;
}

.registro-inputs {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
}

#nombre, #apellidoPaterno,#apellidoMaterno, #correo, #contrasena, #confirmPassword{
      width: 80%;
      height: 40px;
      border-radius: 5px;
      border: 1px solid #ccc;
      margin-bottom: 10px;
      padding-left: 10px;
}



/* Cuando llegue a los 1638 de ancho la pantalla hacer el contenido del modal mas pequeño */

@media screen and (max-width: 1638px) {
      #title-registro {
            font-size: 1.5rem;
      }
      .close {
            position: absolute;
            font-size: 1em;
            top: 11px;
            right: 15px;
            display: inline-block;
            width: 20px;
            height: 20px;
            background-color: #c44a4a;
            color: #fff;
            line-height: 20px;
            cursor: pointer;
            border-radius: 50%;
      }
}

/* cuando llegue  800px la pantalla que el modal se haga el doble de grande */

@media screen and (max-width: 1000px) {
      .modal {
            width: 50%;
      }
}
